.artist-card{
    .dynamicShadow{
        border-radius: 99px;
    }
    .artist-image{
        width: 150px;
        border-radius: 99px;
    }
    h3{
        font-size: 0.9rem;
        font-weight: 600;
        margin: 0;
        margin-top: 1rem;
    }
}