.submenu{
    position: absolute;
    right: 0;
    top: 0;
    background: linear-gradient(90deg, transparent, white);
    width: fit-content;
    height: 100%;
    display: none;
    transition: all ease .2s;
    button{
        height: 100%;
        padding: 0 15px;
        i{
            line-height: 2;
        }
    }
}